*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman';
    font-weight: 400;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
}
.container{
    background: linear-gradient(to top left, #11998e, #38ef7d);
    background-size: cover;
}
header {
    background:#0A1931;
    color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
    animation:fadeInSlide 1s ease-out;
    font-size:x-large;
}

header h1 {
    margin-bottom: 10px;
    color:#F0F0F0;
}

header p {
    font-size: 18px;
    color:#F0F0F0;
}

section {
    margin: 15px auto;
    padding: 20px;
    max-width: 1050px;
    background-color: #fff;
    font-family: 'Times New Roman';
    box-shadow: 0px 0px 15px rgb(238, 171, 238);
    border-radius: 10px;
}
section header{
    background-color: #001F3F;
}
#about{
    background-color:#D0F0FD;
    background-position:Center;
    background-size:cover;
    color:#333333;
    animation: slideInLeft 1s ease-out;
}
section h2{
    font-style: italic;
    font-size: xx-large;
}

#projects {
    display: block;
    gap: 5px;
    animation: slideInRight 1s ease-out;
    background:linear-gradient(125deg, #89f7fe, #66ffa3);
}

.project {
    display:block;
    padding: 15px;
    border: 4px solid #3f4464;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Times New Roman';
    background-color:#E8F5E9;
    color:#1B5E20;
}

#contact{
    text-decoration:none;
    background-color: #eab7f2;
    color:#032e73;
    animation: fadeInSlideUp 1s ease-out;
}

#contact div{
    display:flex;
    justify-content:left;
    gap:10px;

}

#footer {
    height:50px;
    min-width:1050px;
    color:#ffffff;
    background-color:#131a22;
    display:flex;
    align-items:center;
    justify-content: center;
    font-size: larger;
}


#skills{
    padding-left: 50px;
    font-size: large;
    color:#FFFFFF;
    border-radius:10px;
    background:linear-gradient(to right,#6DD5ED, #2193B0 );
    border-radius: 10px;
    text-align:center;
    display:block;
    animation: bounceIn 0.5s ease;
}

#skills h2{
  color:#6a0373;
  display:block;
  justify-content:center;
}

.skills{
  display:flex;
  justify-content:space-between;
}

#resume{
    display:flex;
    justify-content:center;
    background-color:#9ee9bb; 
}


.button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s, transform 0.4s;
    border-radius: 5px;
}

.button:hover {
    background-color: #66bb6a; 
    transform: scale(1.1); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#gmail{
  margin-left:100px;
  gap:30px;

}

#linkedin{
  margin-left:300px;
  gap:30px;
}

#github{
  margin-left:460px;
  gap:30px;
}

#naukri{
  margin-left:630px;
  gap:30px;
}

#whatsapp{
  margin-left:850px;
  gap:30px;
}

/* Header */
@keyframes fadeInSlide {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}


/* About */
@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }


/* Projects */
@keyframes slideInRight {
    0% {
      transform: translateX(+100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }


/* Skills */
@keyframes bounceIn {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }

/* Contact */
@keyframes fadeInSlideUp {
    0% {
      opacity: 0;
      transform: translateY(+100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}


