<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../static/Home_stylesheet.css">
</head>
<body>

    <div class="container">
    <header>
        <h1>Biswajit Dhar</h1>
        <h4> Python Developer | IT Professional | Website Developer </h4>
    </header>

    <section id="about">
        <h2>About Me</h2>
        <p>Hi, I'm Biswajit Dhar. I have expertise in Python & Flask based web development. I enjoy building efficient and scalable applications, and I love learning new technologies.</p>
    </section>

    <section id="projects">
        <h2>Projects</h2>
        <div class="project">
            <h3>Project 1: Chatbot & Artificial Intelligence</h3>
            <p>Built a Conversational User Interface (ChatBot) using Python with huge amount of corpus  data with training.</p>
        </div>
        <div class="project">
            <h3>Project 2: Predict Real Estate Value - with Machine Learning</h3>
            <p>A Machine Learning based model to predict Real-Estate value using Python & it's Liabraries (Pandas, NumPy, Scikit-learn, Matplotlib) & for Big Data Analysis used Apache Spark, Dask. For gathering data used kaggle.</p>
        </div>
    </section>

    <section id="skills">
    <h2>Skills</h2><br>
    <div class="skills">
    <div id="html"> <img src="../static/icons/html.png"/ height="50" width="50"></div>
    <div id="css"><img src="../static/icons/css.jpeg"/ height="50" width="50"></div>
    <div id="python"><img src="../static/icons/python.jpeg"/ height="50" width="50"></div>
    <div id="api"><img src="../static/icons/api.png"/ height="50" width="50"></div>
    <div id="sql"><img src="../static/icons/sql.png"/ height="50" width="50"></div>
    </div><br>
    </section>

    <section id="resume">
    <button class="button" onclick="window.open('/resume', '_blank')">Resume</button>
    </section>

    <section id="contact">

        <h2>Contacts</h2>

        <div><img id="gmail" src="../static/icons/gmail.png"  width="30px"  height="30px"/>biswajitdhar76@gmail.com</div><br>

        <div><img id="linkedin" src="../static/icons/linkdin.png"  width="30px"  height="30px"/><a href="https://www.linkedin.com/in/biswajit-dhar-7bb087303/">linkedin</a></div><br>

        <div><img id="github" src="../static/icons/github.png"  width="30px"  height="30px"/><a href="https://github.com/biswajitdhar76">GitHub</a></div><br>

        <div><img id="naukri" src="../static/icons/naukri_gnb_logo.svg" width="80px"  height="30px"/><a href="https://www.naukri.com/mnjuser/profile?id=&altresid">Naukri</a></div><br>

        <div><img id="whatsapp" alt="icon" src="../static/icons/whatsapp.png" width="30px"  height="30px"/><a href="https://wa.me/7586900103" target="_main">7586900103</a></div><br>
    
    </section>

    <footer id="footer">
        <p>&copy; 2024 Biswajit Dhar. All rights reserved.</p>
    </footer>

</div>
    </body>
    </html>